*
{
  margin:0;
  padding:0;
  user-select: none;
}

#page_main{}

.scholar
{
  background-color: rgba(0,0,0,0.05);
  height: 80px;
  margin: 5px;
  padding: 5px;
}

.scholar:hover
{
  background-color: rgba(0,0,0,0.2);
}

.scholar p
{
  color: black;
  text-align: center;
  line-height: 80px;
  font-size: 36px;
  font-weight: 600;
}
.arrow
{
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5px;
}
