body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

#password-container {
    text-align: center;
}

#password {
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #333;
    background-color: transparent;
    padding: 10px 20px;
    outline: none;
    width: 300px;
}

    #password::placeholder {
        color: #aaa;
    }

    #password:focus {
        border-bottom: 2px solid #555;
    }

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s; /* 运行时间为0.5秒的抖动动画 */
}
