#page_head
{
	margin: 5px;
	padding: 5px;
}

.sch_title
{
  background-color: rgba(0,0,0,0.1);
  height: 80px;
  margin: 5px;
  padding: 5px;
  padding-left: 15px;
}

.sch_title:hover
{
  background-color: rgba(0,0,0,0.2);
}

.sch_title p
{
  color: black;
  text-align: left;
  line-height: 80px;
  font-size: 24px;
  font-weight: 700;
}